################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RxjsApp/obj/Debug
/.vs
/NodejsWebApp1/node_modules/@types/node
/RxjsApp/bin
/RxjsApp/node_modules
